node_modules
.next
.env
.env*.local
*.tsbuildinfo
.DS_Store
.cursor
.env.local
.env.example
.env.local.example
.env.production
.env.production.example
.env.development
.env.development.example
.env.test
.env.test.example
.env.test.local
.env.test.local.example
.env.test.production
.env.test.production.example
.env 
*.sql
